html {
  height: 100%;
  overflow: auto;
}

* {
  font-family: 'Roboto', sans-serif !important;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
